.body {
  position: relative;
}
.mynavbar-top {
  padding-top: 0.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
  color: aliceblue;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.287);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mynavbar-top-primary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mynavbar-top-primary-item {
  padding-right: 1rem;
  margin-right: 1.5rem;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.mynavbar-top-button a.button {
  /* display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0 0.1em 0.1em 0;
  border-radius: 2em;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.452);
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  background-color: #0074e100;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  transition: all 0.5s; */
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 9px 25px;
  border: 2px solid #c0b596;
  border-radius: 47px;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mynavbar-top-button a.button:hover {
  background-color: #0074e1;
}
.topbar.icon {
  display: inline;
  margin-right: 10px;
}

.mynavbar {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  transition: 0.6s;
  padding: 1rem 4rem;
  z-index: 1000;
  /* border-bottom-width: 0.01em;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.2); */
  /* box-shadow: 0 0 5px #333; */
}

.mynavbar .logo {
  position: absolute;
  font-weight: 700;
  color: #05386b;
  text-decoration: none;
  /* font-size: 2.5em; */
  height: 4rem;
  width: 10rem;
  text-transform: uppercase;
  transition: 0.6s;
  letter-spacing: 2px;
  transform: translateY(0%);
}

.mynavbar ul {
  /* position: relative; */
  float: right;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

.mynavbar ul li {
  /* position: relative; */
  display: inline-block;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  /* need to align-items: center: ; */
  margin-top: 0.95rem;
  list-style: none;
}

.mynavbar ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  /* margin: 0px 15px; */

  margin-left: 30px;
  font-weight: 500;
  font-size: 18px;

  transition: 0.6s;
}
.mynavbar ul li a:hover {
  color: aqua;
}

#check {
  display: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/hero_2.jpg);
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* background-size: cover;
  background-position: center; */
  /* filter: opacity(50%);
  -webkit-filter: opacity(80%); */
}

.mynavbar.sticky .logo,
.mynavbar.sticky ul li a {
  color: #000;
}
.mynavbar.sticky {
  top: 0;
  background-color: #fff;
  padding: 0.8rem 4rem;
  box-shadow: 0 0 5px #333;
}

.mynavbar.sticky ul li a:hover {
  color: #c3073f;
}
.checklabel {
  display: none;
}
i.icon {
  display: none;
}
.burger {
  display: none;
  color: #fff;
  cursor: pointer;
  transition: 0.6s;
}

.burger.sticky {
  color: #000;
}

/* @media (max-width: 80rem) {
  .mynavbar {
    padding: 30px 88px;
  }
} */

@media screen and (max-width: 70rem) {
  .checklabel {
    display: block;
  }
  #check:checked ~ ul {
    left: 60%;
  }
  #check:checked ~ label .burger {
    pointer-events: none;
  }
  #check:checked ~ label .sidebarclose.window {
    margin-left: 80vw;
  }

  .mynavbar ul {
    /* display: none;
    position: fixed; */
    /* display: inline-block; */
    /* width: 50%;
    height: 100vh;
    text-align: center; */
    /* background-color: royalblue; */
    position: fixed;
    width: 40vw;
    height: 100vh;
    background: #2c3e50;
    padding-top: 10vh;
    top: 0px;
    left: 160%;
    z-index: 1111111;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 20px 20px 50px grey;
  }
  .mynavbar ul li {
    display: block;
    margin: 2vh 0;
    line-height: 8vh;
    font-size: 18px;
  }

  .mynavbar .logo {
    height: 2rem;
    width: 6rem;
  }

  .mynavbar {
    padding: 1rem 3.5rem;
  }
  i.icon.big {
    display: block;
  }
  .burger {
    position: relative;
    display: block;
    float: right;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
  }
  .sidebarclose.window {
    position: absolute;
    display: block;
    /* float: right; */
    margin-left: 100vw;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
    z-index: 1111111111;
  }
}
